<form role="form" {{action "save" model on="submit"}}>

  <div class="form-group">
    <label for="name">Nome</label>
    {{input type="text" placeholder="Nome" value=model.name class="form-control" id="name"}}
  </div>

  <div class="form-group">
    <label for="name">Total de Episódios</label>
    <div class="row">
      <div class="col-md-2">
        {{input type="text" value=model.totalEpisodes class="form-control" id="totalEpisodes"}}
        </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name">Em qual parei?</label>
    <div class="row">
      <div class="col-md-2">
        {{input type="text" value=model.stoppedAt class="form-control" id="stoppedAt"}}
        </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name">Tempo médio por episódio</label>
    <div class="row">
      <div class="col-md-2">
        <div class="input-group">
          {{input type="text" value=model.episodeTime class="form-control" id="episodeTime"}}
          <span class="input-group-addon">minutos</span>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Salvar</button>
</form>
